<div class="wrapper" id="wrapper-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <footer class="site-footer" id="colophon">
                    <div class="site-info">
                        <a href="http://wordpress.org/">Proudly powered by WordPress</a><span class="sep"> | </span>Theme: Bushido base by <a href="https://www.koomma.fr">KOOMMA</a>.(Version: 1.2.1)
                    </div><!-- .site-info -->
                </footer><!-- #colophon -->
            </div><!--col end -->
        </div><!-- row end -->
    </div><!-- container end -->
</div><!-- wrapper end -->
</div><!-- #page we need this extra closing tag here -->
<script>
    window.baseUrl = "{{ function('get_stylesheet_directory_uri') }}"
</script>
{{ function('wp_footer') }}
