<!-- Header -->
<div class="site" id="page">
    <!-- ******************* The Navbar Area ******************* -->
    <div id="wrapper-navbar" itemscope itemtype="http://schema.org/WebSite">
        <a class="skip-link sr-only sr-only-focusable" href="#content">{{ __('Skip to content') }}</a>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <div class="container">
                <h1 class="navbar-brand mb-0"><a rel="home" href="/" title="{{ bloginfo('name', 'display') }}" itemprop="url">{{ bloginfo('name') }}</a></h1>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="<?php esc_attr_e( 'Toggle navigation', 'understrap' ); ?>">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div><!-- .container -->
        </nav><!-- .site-navigation -->
    </div><!-- #wrapper-navbar end -->