{% if page_seo.seo_title is defined %}
    <title>{{ page_seo.seo_title }}</title>
{% endif  %}
{% if page_seo.seo_description is defined %}
    <meta name="description" content="{{ page_seo.seo_description }}">
{% endif  %}
{% if page_seo.seo_keywords is defined %}
    <meta name="keywords" content="{{ page_seo.seo_keywords }}">
{% endif  %}
{% if page_seo.seo_title is defined %}
    <meta property="og:title" content="{{ page_seo.seo_title }}"/>
    <meta property="og:type" content="article"/>
{% endif  %}
{% if page_seo.seo_description is defined %}
    <meta property="og:description" content="{{ page_seo.seo_description }}"/>
{% endif  %}

<meta property="og:url" content="{{ global_home }}"/>
<meta property="og:image" content="{{ page_seo.share_img }}" />
<meta property='og:image:alt' content='{{ page_seo.share_img_alt }}' />

{% if level is defined and level == 'citypsa' %}
    <meta name="robots" content="noindex, follow" />
{% endif %}