{% extends "layout.html.twig" %}
{% block content %}
    <div class="container">
        <p class="lead">This is an empty template. Just with the header and footer section and a content section in between. The content section comes with no markup. So you can build up anything you want just using the Bootstrap classes. Good for landingpages or if you want to transfer a static HTML page into WordPress.</p>
        <p>For example you can add a <code>&lt;div class="container"&gt;</code> tag around your content for a default width element, or a <code>&lt;div class="container-fluid"&gt;</code> tag for a full width element like this:
    </div>
    <!--<div class="container-fluid">
        <p class="lead"> Juhu! I´am a full width element!</p>
    </div>-->
{% endblock %}