<!DOCTYPE html>
<html {{ function('language_attributes') }} prefix="og: http://ogp.me/ns#" class="no-js">
<head>
    <meta charset="{{ function('bloginfo', 'charset') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link rel="profile" href="http://gmpg.org/xfn/11">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ getStylePathFile('/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ getStylePathFile('/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ getStylePathFile('/favicon/favicon-16x16.ico') }}">
    <link rel="manifest" href="{{ getStylePathFile('/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ getStylePathFile('/favicon/safari-pinned-tab.svg') }}" color="#1b365e">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    {% block headlink %}
    {% endblock %}

    {% block customCanonical %}
    {% endblock %}

    {% if options.google_site_verification is defined and options.google_site_verification is not empty %}
        <meta name="google-site-verification" content="{{ options.google_site_verification }}" />
    {% endif %}

    {% include 'partial/common/_header.seo.html.twig' %}
    {% block dataLayer %}
    {% endblock %}

    {% if options.gtm_id is defined and options.gtm_id is not empty %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ options.gtm_id }}');</script>
        <!-- End Google Tag Manager -->
    {% endif %}
    {{ function('wp_head') }}

</head>
<body {{ function('body_class') }} country="{{ options.country }}">
{% if options.gtm_id is defined and options.gtm_id is not empty %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ options.gtm_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endif %}

{% block startmain %}
    {% include 'partial/common/_header.html.twig' %}
{% endblock %}

{% block content %}
{% endblock %}

{% block endmain %}
    {% include 'partial/common/_footer.html.twig' %}
{% endblock %}

{% block footer %}
    {# global footer #}
    {% include 'partial/common/_main_footer.html.twig' %}
{% endblock %}
</body>
</html>